.ant-layout {
    height: 100vh;
    flex-direction: row;
    overflow: hidden auto;
}

.ant-layout-sider-children,
.ant-menu-item {
    background-color: #1b2038;
}


.ant-menu-dark .ant-menu-item-selected {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    background: #6a6b79;
    padding-left: 10px;

}


.ant-menu-item.ant-menu-item-selected {

    padding-left: 10px;

}

.ant-menu .ant-menu-item {
    /* padding-top: 16px; */
    margin-top: 5px !important;
    height: 80px;
    border-radius: 0px !important;
    /* border-bottom: 2px solid #343a40; */
}


.ant-menu-inline .ant-menu-item {
    margin-inline: 0px;
    margin-block: 0px;
    width: calc(100%);
}

.ant-menu-item.ant-menu-item-only-child {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.bottomSection {
    margin-top: -14px;
    /* margin-bottom: 10px; */
}

.ant-menu-item {
    padding-left: 10px !important;
    padding-right: 8px !important;
}

.tempDegree {
    margin-left: -3px;
}

.dailyNumbers {
    text-align: end;
    font-size: 0.9em;
}

.tempVal {
    text-align: end;
    font-size: 2em;
}

.mainBodyComponent {
    background-color: #1c2736;
}

.location_name {
    font-size: 2.0em;
}

.currenData {
    color: white;
    text-align: center;
    font-weight: 400;
}

.current_temp {
    font-size: 3.0em;
    margin-top: -2.5%;
}

.current_condition {
    font-size: 1.3em;
    margin-top: -2.0%;
    text-transform: capitalize;
}




.currenData .dailyNumbersMain {
    font-size: 1.2em;
    text-align: center;
    margin-top: -1%;

}

.spinner {
    text-align: center;
    margin-top: 50%;
}

.spinner-body {
    text-align: center;
    margin-top: 10%;
}

.dailyForecastDetails {
    color: white;
    background: #272e3a;
    max-width: 100%;
    width: 100%;
    overflow-x: scroll auto;
}

.ant-card-head-title {
    color: white;
}

.card-content-scrollable {
    display: flex;
    overflow-x: auto;
}

.card-content-item {
    margin-right: 5px;
    margin-bottom: 8px;
    margin-top: 4px
}

.ant-card-body {
    padding: 15px 24px !important;
}

.ant-menu-title-content {
    border-bottom: 1px solid #393b43 !important;
}

.sidebarLocalTime {
    font-size: 0.5em;
}

.ant-menu-dark,
.ant-menu {
    color: rgba(255, 255, 255, 0.65);
    background: #1b2038;
}

.weeklyForecastData {
    color: white;
    background: #272e3a !important;
    max-width: 1100px;
    overflow-x: hidden;
    min-height: 34vh;

}

.dashboardSmallBlocks {
    color: white;
    background: #272e3a !important;
    max-width: 1100px;
    overflow-x: hidden;
    min-height: 15.5vh;
}

.ant-menu-item-selected .ant-menu-title-content {
    border-bottom: 0px solid #393b43 !important;
}

.current_condition_sidebar {
    text-transform: capitalize;

}

.dashoardMainBody {
    min-height: 110vh;
}

.pushRight {
    text-align: right !important;
}



.card-content-hour {
    /* text-align: center; */
    padding-bottom: 15px;
    margin-left: 5px;
}

.card-content-temp {
    /* text-align: center; */
    padding-top: 5px;
    margin-left: 5px;

}

.ant-card-head {
    border-bottom: 1px solid #5c5e74 !important;
    margin-left: 10px;
    margin-right: 10px;

}

.ant-card-head-title {
    margin-left: -20px;
}

p {
    color: #ffff !important;
}

.temperatureSetting {
    color: black !important;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 4px;

}

.tempDegree_settings {
    margin-left: 2px;
}

.ant-slider-handle {
    display: none;
    /* Hide the slider handle */
}

.custom-divider {
    margin-bottom: 5px !important;
    margin-top: -6px;

}


.ant-slider .ant-slider-rail {
    position: absolute;
    background-color: #647693;
    border-radius: 2px;
    transition: background-color 0.2s;
}

.ant-slider-horizontal .ant-slider-track,
.ant-slider-horizontal .ant-slider-tracks {
    height: 5px;
}

.customSize {
    width: 50%;
}

.bigFont {
    font-size: 2.0em;
}

.dailyInfo {
    font-size: 14px;
}

.dailyInfo .card-content-item {
    padding-bottom: 6px;
}

.customTagSize {
    margin-bottom: 2%;
    font-size: 1.0em;
}


.ant-layout-content {
    width: 95%;
}

*::-webkit-scrollbar {
    width: 0.6em !important;
    height: 0.2em !important;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    outline: 1px solid rgb(112, 128, 144) !important;
}

.locationSearchBar input {
    background-color: transparent !important;
    color: white;
    border-radius: 2;
    border: 0.5px solid #999;

}

.locationSearchBar ::placeholder {
    color: #999;
    /* Change the color to your desired color */
}

.locationSearchBar {
    margin: 0px 6px;
}